@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Univers Next Pro Medium Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Univers Next Pro Medium Condensed'), url('../font/Univers Next Pro Medium Condensed.woff') format('woff');
}

@layer base {
    body {
        font-family: 'Univers Next Pro Medium Condensed';
    }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}